/* AUTOPREFIXER */
/* https://autoprefixer.github.io/ */

* {
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
}

#header {
  font-family: 'Bitter', serif;
}

footer.bg-dark.jumbotron.text-center.text-light {
  margin-bottom: 0px;
}
