/* AUTOPREFIXER */
/* https://autoprefixer.github.io/ */

* {
  font-family: 'Roboto', sans-serif;
}

html, body {
  /* height: 100%; */
  background-color: #343a40;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  object-fit: cover;
  object-position: 0% 23%;
}

#nav {
  position: fixed;
  height: 200px;
  width: 100%;
  z-index: 9;
}

.box {
  width: 200px;
  height: 100px;
  border: solid 1px white;
  border-radius: 3%;
  background-color: white;
  margin: 0 auto;
}

.openMenuMiniBox {
  width: 250px;
  height: 15px;
  border: solid 1px white;
  border-radius: 3%;
  background-color: white;
  margin: 5px auto;
}

/* .closedMenuMiniBox {
  width: 3%;
  height: 10%;

  background-color: #white;
  position: fixed;
} */

.icon-nav {
  position: relative;
  bottom: 36px;
  left: 20px;
}

.speaker-icon {
  position: relative;
  left: 10px;
}

.hidden {
  display: none;
}

.icon-closed-menu {
  position: relative;
  bottom: 3px;
  right: 35px;
  /* z-index: 999; */
}

a:hover {
  text-decoration: none;
  color: white;
}

a {
  color: white;
}


.reverbnation {
  height: 150px;
  width: 150px;
}

#content {
  background-image: url("../img/brick-jacket.jpg");
      /* margin-top: 151px; */
      margin-top: 200px;
      border-radius: 3%;
}

.border-radius {
  border-radius: 1%;
}

.content-p {
  letter-spacing: 2px;
  line-height: 35px;
  text-align: left;
}

#web, #artistDevelopment, #musicProduction, #contact {
  background-color: rgb(255, 255, 255, 0.4)
}

div#menuTitle {
    margin: 10px 0 10px 0;
}

.CarbettaCoding {
  width: 310px;
}

div#menuButton {
    position: fixed;
    right: 121px;
    z-index: 999;
    top: 10px;
  }

h5 {
  margin-top: 8px;
}

div#speaker {
    position: relative;
    right: 300px;
    font-size: 12px;
    top: 10px;
}

@media only screen and (max-width: 1025px) {
    div#speaker {
        position: relative;
        font-size: 10px;
        top: 10px;
        right: 240px;
    }
}

@media only screen and (max-width: 769px) {
  #nav {
    position: fixed;
    height: 150vh;
    width: 100%;
    z-index: 19;
  }
  .tablet-push {
    margin-left: 50px;
  }
  div#speaker {
      position: relative;
      right: 50px;
      top: 10px;
  }
}

@media only screen and (max-width: 427px) {
  div#menuButton {
    position: fixed;
    right: 346px;
    z-index: 999;
    top: 19px;
    }
    div#speaker {
        display: none;
    }
  .title {
    font-style: italic;
  }
  h2.content-p {
    /* color: #f8f9fa; */
    font-style: italic;
}
/* #speaker-mobile-view {
  display: inline-block;
} */
}



@media only screen and (max-width: 376px) {
  div#menuButton {
    position: fixed;
    right: 315px;
    z-index: 999;
    top: 19px;
    }
    div#speaker {
        position: relative;
        font-size: 10px;
        top: 10px;
    }
}

@media only screen and (max-width: 321px) {
  div#menuButton {
    position: fixed;
    right: 322px;
    z-index: 999;
    top: 19px;
    }
    div#menuTitle {
      margin: 10px 10px 10px -15px;
}
    }



/* #navlinks {
  position: fixed;
} */

/* .bg-black {
  background-color: black;
} */
